*{
    font-family: 'Courier New', Courier, monospacef;
}
h1{
    color: #1b74e4;
}
button{
    background-color: black;
    color: white;
}
.A{
    background-color: aqua;
    color: black;
}
input[type]{
    background-color: bisque;
}
button:hover{
    background-color: aliceblue;
    color: black;
}
button:active{
    background-color: pink;
    color: yellow;
}


